* {
    box-sizing: border-box;
}

body {
    background-color: rgb(142, 241, 175);
    color: rgb(247, 164, 164);
    font-size: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    background-color: rgb(182, 212, 219);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darkblue;
    box-shadow: 2px 2px 5px goldenrod;
    min-width: 11rem;
    min-height: 100vh;
}

nav {
    font-size: 0px;
    background-color: rgb(37, 66, 66);
    padding: .25rem;
    width: 100%;
    min-width: 11rem;
}

nav ul {
    list-style-type: none;
    padding: .1rem;
}

nav li {
    font-size: 20px;
    padding: .2rem;
    padding-left: 1rem;
    border: 1px solid rgba(44, 0, 44, 0.678);
    width: 20%;
    min-width: 100%;
    background-color: aqua;
    box-shadow: 2px 2px 5px black;
}

@media only screen and (min-width: 620px) {
    nav li {
        display: inline-block;
        width: 20%;
        text-align: center;
        min-width: 0;
        padding-left: 0;
    }   

    nav ul {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

}

